
<div class="row mt-4">
  <div class="col-md-12">
  <h5 class="mt-2 text-center text-muted">User Details : Task 5.Detailed listing of Post</h5>
    </div>
  </div>

  <div class="row mt-4">
  <div class="col-md-12">  
<table class="table table-striped border">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">User Id</th>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{data.id}}</td>
        <td>{{data.userId}}</td>
        <td>{{data.title}}</td>
        <td>{{data.body}}</td>
      </tr>
     
    </tbody>
  </table>
  </div>
</div>